$background_color: #f3acac96;
$font_size: 20px;
$font_family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$background_color_table: radial-gradient(circle, #f4cacabd 0%, rgba(204, 93, 114, 0.55) 100%);